{% extends 'base.html.twig' %}

{% block title %}Dashboard - {{ parent() }}{% endblock title %}
{% block body %}
    <div class="ms-auto m-md-2">
        <a href="{{ path('user_default') }}" class="btn btn-primary"><i class="fas fa-user"></i> {{ translate('button.user.list', app.request.locale) }}</a>
    </div>
{% endblock body %}